<div class="container-fluid">

  <div class="row my-4 mx-3">

    <div class="col-4">

      <div class="form-group">

        <input #inputCodigo autocomplete="off" type="number" name="codigo" id="codigo" class="form-control" placeholder="Ingresar Código" (keyup.enter)="obtenerUbicacion()">

      </div>

    </div>

    <div class="col-8">
      <h2 *ngIf="msg !== ''">{{msg}}</h2>
    </div>

    <div class="col-4" *ngIf="encontrado">

      <img [src]="'https://ferremayoristas.com.mx/assets/photos/' + producto.XIMAGEN2" class="img-fluid rounded">
      <!-- <img [src]="'http://192.168.1.250/assets/photos/' + producto.XIMAGEN2" class="img-fluid rounded"> -->

    </div>

    <div class="col-8" *ngIf="encontrado">

      <h1>{{producto.DESCRIPCIO}}</h1>

      <h3>

        CODIGO: <span class="badge badge-danger">{{producto.CLVPROV}}</span>
        
        CLAVE: <span class="badge badge-danger">{{producto.CLAVE}}</span>

      </h3>

      <h3>
        
        ULTIMA COMPRA: <span class="badge badge-primary">{{producto.ULTIMA | date:'dd-MM-yyyy'}}</span>
      
      </h3>

      <h2>
        
        UBICACION: <span class="badge badge-info">{{producto.UBICACION}}</span>
      
      </h2>

      <div class="text-center">

        <h1 class="display-1 font-weight-bold">
          
          EXISTENCIA

          <br>

          <span class="badge badge-info">{{producto.EXISTENCIA}}</span>
        
        </h1>

      </div>

    </div>

  </div>
  
</div>